.cardBody{
  background-color: rgb(245, 241, 241);
}
.price ,.quantity{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-left: .2rem;
}
.price{
  color: rgba(0, 0, 0, 0.786);
}
.image{
  /* background-color: rgb(245, 242, 162);   */
    transition: transform .2s;
    border-radius: 1rem;
    margin-bottom: 1.3rem ;
}
.image:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

